---
layout: default
---
<iframe class="jumbo-video page-block" src="https://player.vimeo.com/video/55140149?portrait=0&byline=0&title=0" allowfullscreen></iframe>

<section id="sobre" class="page-block site-container">
  <h1>WS Group</h1>

  <div class="page-block-main-content">
    <p>O Grupo WS foi criado com o objetivo de atender várias das necessidades que um cliente desse setor procura.</p>

    <p>Por isso, nós unimos quatro empresas do setor de Arquitetura &amp; Consultoria Imobiliária. São elas: <em>WS Invest</em>, <em>Martin Wayhs Arquitetura</em>, <em>WS Design</em> e <em>Ilumion</em>.</p>

    <p>Cada uma delas oferece um tipo de solução para o nosso cliente, afim de proporcionar um serviço eficiente, qualificado e completo.</p>

    <p>Então, esse é o objetivo da WS Group: oferecer aquilo que você precisa. O que não oferecemos, auxiliaremos você a encontrar a melhor solução.</p>

    <p>Cada empresa é independente. Por iss, os serviços podem ser contratados separadamente; mas também somos um grupo, então você pode adquirir o pacote completo — tudo depende de sua necessidade.</p>
  </div>

  <h2>Conheça as empresas do grupo:</h2>

  <ul class="tabs">
    <li class="tab-link">
      <a href="javascript:void(0)" onclick="open_tab(event, 'Invest')" aria-label="WS Invest">{% include svg/building.svg %}</a>
    </li>
    <li class="tab-link">
      <a href="javascript:void(0)" onclick="open_tab(event, 'Martin')" aria-label="Martin Wayhs Arquitetura">{% include svg/home.svg %}</a>
    </li>
    <li class="tab-link">
      <a href="javascript:void(0)" onclick="open_tab(event, 'Design')" aria-label="WS Design">{% include svg/furniture.svg %}</a>
    </li>
    <li class="tab-link">
      <a href="javascript:void(0)" onclick="open_tab(event, 'Ilumion')" aria-label="Ilumion">{% include svg/lamp.svg %}</a>
    </li>
  </ul>
  <div class="tab-container">
    <figure id="Invest" class="tab-content">
      <img src="{{ '/assets/images/invest.jpg' | relative_url }}" alt="" />

      <figcaption>
        <h3>WS Invest</h3>
        <p>Auxiliamos você a encontrar o imóvel dos sonhos.</p>
        <p>A <em>WS Invest</em> é a empresa que auxilia na consultoria da compra de imóveis.</p>
      </figcaption>
      <button class="close-tab" aria-disabled="true" onclick="this.parentElement.style.display='none'">{% include svg/x.svg %}</button>
    </figure>

    <figure id="Martin" class="tab-content">
      <img src="{{ '/assets/images/arquitect.jpg' | relative_url }}" alt="" />

      <figcaption>
        <h3>Martin Wayhs Arquitetura</h3>
        <p>Desenvolvemos projetos arquitetônicos e projeto de interiores.</p>
      </figcaption>
      <button class="close-tab" aria-disabled="true" onclick="this.parentElement.style.display='none'">{% include svg/x.svg %}</button>
    </figure>

    <figure id="Design" class="tab-content">
      <img src="{{ '/assets/images/design.jpg' | relative_url }}" alt="" />

      <figcaption>
        <h3>WS Design</h3>

        <p>Temos a nossa própria marca de móveis sob medida. Desenvolvemos um projeto exclusivo para você.</p>
      </figcaption>
      <button class="close-tab" aria-disabled="true" onclick="this.parentElement.style.display='none'">{% include svg/x.svg %}</button>
    </figure>

    <figure id="Ilumion" class="tab-content">
      <img src="{{ '/assets/images/ilumion.jpg' | relative_url }}" alt="" />

      <figcaption>
        <h3>Ilumion</h3>

        <p>Transformamos os ambientes internos e externos com os efeitos que só a iluminação proporciona. Além do projeto luminotécnico, oferecemos os produtos, e também desenvolvemos luminárias personalizadas.</p>
      </figcaption>
      <button class="close-tab" aria-disabled="true" onclick="this.parentElement.style.display='none'">{% include svg/x.svg %}</button>
    </figure>
  </div>
</section>
