<link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | append: '?v=7knOvGwB4K' | relative_url }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | append: '?v=7knOvGwB4K' | relative_url }}" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | append: '?v=7knOvGwB4K' | relative_url }}" />
<link rel="manifest" href="{{ '/manifest.json' | append: '?v=7knOvGwB4K' | relative_url }}" />
<link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' | append: '?v=7knOvGwB4K' | relative_url }}" color="#c29d52">
<link rel="shortcut icon" href="{{ '/favicon.ico' | append: '/favicon.ico?v=7knOvGwB4K' | relative_url }}" />
<meta name="theme-color" content="{{ site.brand }}" />
