<header class="site-header">
  <a class="site-title" href="{{ '/' | relative_url }}" itemprop="url">{% include svg/logo.svg %}
    <span itemprop="name">{{ site.title }}</span>
  </a>

  {% if site.pages %}
  <nav class="site-navigation">
    <input type="checkbox" id="nav-trigger" name="nav-trigger" />
    <label class="menu-trigger" for="nav-trigger">
        {% include svg/three-bars.svg %}
    </label>

    <ul class="site-menu">
      <li><a data-scroll href="#sobre">O Grupo</a></li>
      <li><a data-scroll href="#arquitetura">Arquitetura</a></li>
      <li><a data-scroll href="#design">Design</a></li>
      <li><a data-scroll href="#ilu">Ilu</a></li>
      <li><a data-scroll href="#investimentos">Investimentos</a></li>
      <li><a data-scroll href="#noticias">Notícias</a></li>
      <li><a data-scroll href="#contato">Contato</a></li>
    </ul>
  </nav>
  {% endif %}
</header>
