<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description | strip_html | strip_newlines | normalize_whitespace }}" />

  <link rel="stylesheet" type="text/css" href="{{ '/assets/main.css' | relative_url }}" />
  <link rel="author" type="text/plain" href="{{ '/humans.txt' | absolute_url }}" title="The humans responsible and technologic colophon." />

  {% include parts/ogp.html %}
  {% include parts/favicons.html %}
</head>
