<header class="site-header">
  <a class="site-title" href="{{ '/' | relative_url }}" itemprop="url">{% include svg/logo.svg %}
    <span itemprop="name">{{ site.title }}</span>
  </a>

  <nav class="site-navigation">
    <a onclick="document.querySelector('#sobre').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">O Grupo</a></li>
    <a onclick="document.querySelector('#portfolio').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Portfólio</a></li>
    <a onclick="document.querySelector('#equipe').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Profissionais</a></li>
    <a onclick="document.querySelector('#contato').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Contato</a></li>
  </nav>
</header>
