<header class="site-header">
  <a class="site-title" href="{{ '/' | relative_url }}" itemprop="url">{% include svg/logo.svg %}
    <span itemprop="name">{{ site.title }}</span>
  </a>

  <nav class="site-navigation">
    <input type="checkbox" id="nav-trigger" name="nav-trigger" />
    <label class="menu-trigger" for="nav-trigger">
        {% include svg/three-bars.svg %}
    </label>

    <ul class="site-menu">
      <li><a onclick="document.querySelector('#sobre').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">O Grupo</a></li>
      <li><a onclick="document.querySelector('#portfolio').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Portfólio</a></li>
      <li><a onclick="document.querySelector('#equipe').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Profissionais</a></li>
      <li><a onclick="document.querySelector('#contato').scrollIntoView({ behavior: 'smooth' });" href="javascript:void(0)">Contato</a></li>
    </ul>
  </nav>
</header>
