<section id="portfolio" class="page-block">

  <h1>Portfólio</h1>

  <div class="regions site-container">
    <div class="region">
      <p><strong>Balneário Camburiú</strong></p>
      <ul>
        <li><a id="default_open" onclick="open_portfolio(event, 'tour'); document.querySelector('#tour').scrollIntoView({behavior: 'smooth'})">Tour Virtual</a></li>
        <li><a onclick="open_portfolio(event, 'gallery'); document.querySelector('#gallery').scrollIntoView({behavior: 'smooth'})">Galeria de imagens</a></li>
      </ul>
    </div>
  </div>

  <div id="tour" class="slideshow-container jumbo-video">
    <iframe src="https://my.matterport.com/show/?m=WmrC2PSC4ha" frameborder="0" allowfullscreen></iframe>
  </div>

  <div id="gallery" class="slideshow-container jumbo-video">
    <figure class="slideshow gallery">
    {% for i in (1..20) %}
      <img class="slide fade" src="{{ i | prepend: '/assets/media/camboriu/camboriu' | append: '.jpg' | relative_url }}" alt="" />
    {% endfor %}
    </figure>

    <a class="slideshow-navigation previous-slide prev" href="javascript:void(0)">
      <svg>
        <title>Anterior</title>
        <desc>Voltar um slide</desc>
        <use xlink:href="{{ '#chevron-left' | prepend: '/assets/sprite.svg' | relative_url }}" />
      </svg>
    </a>

    <a class="slideshow-navigation next-slide next" href="javascript:void(0)">
      <svg>
        <title>Próximo</title>
        <desc>Avançar um slide</desc>
        <use xlink:href="{{ '#chevron-right' | prepend: '/assets/sprite.svg' | relative_url }}" />
      </svg>
    </a>
  </div>
</section>
