{% for service in site.data.services %}
<figure id="{{ service.id }}" class="tab-content">
  <img src="{{ service.image | prepend: '/assets/images/' | relative_url }}" alt="" />

  <figcaption>
    <h3>{{ service.name }}</h3>
    <p>{{ service.description }}
  </figcaption>

  <button class="close-tab" onclick="this.parentElement.style.display='none'">
    <svg>
      <title>Fechar</title>
      <use xlink:href="{{ '#x' | prepend: '/assets/sprite.svg' | relative_url }}" />
    </svg>
  </button>
</figure>
{% endfor %}
