---
title: Portfólio
order: 3
menu: true
---

{% for project in site.data.projects %}
{% assign projname = project[0] %}
<dl id="{{ projname }}" class="project wrapper">
  <dt>{{ site.data.projects[projname].city }} / {{ site.data.projects[projname].region | upcase }}
  </dt>
  <dd>{% if site.data.projects[projname].tour %}<a class="tour-link" target="{{ projname | prepend: '#tour-' }}">Tour virtual</a> / {% endif %} <a class="gallery-link" target="{{ projname | prepend: '#gallery-' }}">Galeria de imagens</a>
</dl>

{% if site.data.projects[projname].tour %}
  <figure id="{{ projname | prepend: 'tour-' }}" class="project-tour active-tour">
    <iframe src="{{ site.data.projects[projname].tour }}" frameborder="0" allowfullscreen></iframe>
  </figure>
{% endif %}
<figure id="{{ projname | prepend: 'gallery-' }}" class="project-gallery wrapper">
  {% assign gallery = site.data.projects[projname].gallery %}
  {% for image in (1..gallery) %}
  <img src="{{ projname | prepend: '/assets/images/projects/' | append: '/' | relative_url }}{{ image | append: '.jpg' }}" alt="" />
  {% endfor %}
</figure>
{% endfor %}
