body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  hyphens: auto;
  word-break: normal;
}

/*
    Text Elements
*/
p, ul, ol, dl, pre
table, pre, blockquote {
  margin-bottom: $spacing-unit / 2;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: 700;
}


// Headings
h1, h2, h3,
h4, h5, h6 {
  font-weight: 700;
}

h1, h2, h3 {
  margin-bottom: $spacing-unit / 2;
}

h4, h5, h6 {
  margin-bottom: 0;
}

h1 {
  font-size: $base-font-size * 2;
  margin-bottom: $spacing-unit / 2;
}

// Lists
ul, ol, dl {
  margin-left: $spacing-unit / 2;
}

ul {
  list-style-type: square;

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;
    }
  }
}

ol {
  list-style-type: decimal;

  ol {
    list-style-type: lower-alpha;

    ol {
      list-style-type: lower-roman;
    }
  }
}

ul, ol {
  list-style-position: outside;

  ul, ol {
    margin-bottom: 0;
  }
}

// Links
a {
  color: $color-text;
  text-decoration-color: $color-accent;
  -webkit-text-decoration-color: $color-accent;
  transition: color .3s, text-decoration-color .15s;

  &:hover,
  &:focus {
    color: $color-accent;
    text-decoration-color: transparent;
  }
}

// Blockquotes
blockquote {
  font-family: serif;
  font-size: $base-font-size * 1.4;
  line-height: 1.6;
  font-style: italic;
  border-radius: .3rem;

  &.pull {
    float: right;
    max-width: 30rem;
    margin-left: $spacing-unit / 2;
    background-color: #fff;
    box-shadow: 0 0 .4rem darken($color-background, 15%);
    padding: $spacing-unit / 4 $spacing-unit / 2;

    @include media-query($on-palm) {
      max-width: 100%;
      float: none;
      margin-left: 0;
    }
  }
}

// Codes
pre, code,
kbd, var, tt {
  font-family: Consolas, Monaco, monospace;
  font-size: $base-font-size * .85;
}

// Tables
table {
  max-width: 100%;
  background-color: #ffffff;
  border-radius: .3rem;
  box-shadow: inset 0 0 .4rem darken($color-background, 15%);

  tr {

    th, td {
      padding: $spacing-unit / 3;
      text-align: left;
    }

    th {
      font-weight: 700;
    }
  }

  thead tr,
  tbody tr:not(:last-child) {
    border-bottom: .1rem solid darken($color-background, 15%);
  }
}

/*
    Media Elements
*/
iframe, embed, object,
figure, video, audio {
  margin-bottom: $spacing-unit;
}

// Figures
img {
  max-width: 100%;
  border-radius: .3rem;
}

figure {
  figcaption {
    font-size: $base-font-size * .75;
    font-style: italic;
  }
}
