@font-face {
	font-family: 'Campton';
	src: url('fonts/campton-bookitalic.woff2') format('woff2'),
       url('fonts/campton-bookitalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Campton';
	src: url('fonts/campton-book.woff2') format('woff2'),
		   url('fonts/campton-book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Campton';
	src: url('fonts/campton-lightitalic.woff2') format('woff2'),
		   url('fonts/campton-lightitalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Campton';
	src: url('fonts/campton-light.woff2') format('woff2'),
		   url('fonts/campton-light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
