/*
    Basic container
*/
body {
  border-left: $spacing-unit / 4 solid $color-text;
  border-right: $spacing-unit / 4 solid $color-text;

  &:after {
    display: block;
    position: fixed;
    content: '  ';
    width: 100%;
    height: $spacing-unit / 4;
    z-index: 9999;
    background-color: $color-text;
    bottom: 0;
  }

}

.site-container {
  width: 100%;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

/*
    Site Header
*/
.site-header {
  background: $color-text;
  color: $color-background;
  padding: $spacing-unit;
  max-width: 100%;
  width: 100%;
  position: fixed;
  line-height: 0;
  z-index: 3;
  @include row;
  @extend %clearfix;

  @include media-query($on-palm) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;

    .site-social,
    .site-title {
      display: inline-block;
      vertical-align: top;
      float: right;
      max-width: 33.33333%;
    }

    .site-navigation {
      width: 100%;
    }
  }

  .site-social,
  .site-navigation {
    @include col(4, 10);
  }

  .site-title {
    @include col(2, 10);
  }

  .site-social {
    line-height: 5rem;

    a {
      padding-right: $spacing-unit / 4;

      svg {
        width: 2rem;
        height: 2rem;
        fill: $color-background;
        vertical-align: middle;
        transition: fill .36s ease;
      }

      &:hover,
      &:focus {
        text-decoration: none;

        svg {
          fill: $color-accent;
        }
      }
    }
  }

  .site-title {
    text-align: center;

    svg {
      width: 4.5rem;
      height: 5rem;
      fill: $color-background;
      transition: fill .36s ease;
    }

    span {
      clip: rect(0, 0, 0, 0);
      font-size: 0;
      color: transparent;
      width: 0;
      height: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      svg {
        fill: $color-accent;
      }
    }
  }

  .site-navigation {
    text-align: right;
    font-size: $base-font-size * .75;
    line-height: 5rem;

    .nav-trigger {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    a {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $color-background;
      transition: color .36s ease;

      &:hover,
      &:focus {
        text-decoration: none;
        color: $color-accent;
      }

      &:not(:first-child) {
        padding-left: $spacing-unit / 2;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      top: 3.6rem;
      right: $spacing-unit / 2;
      text-align: right;

      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;

        svg {
          fill: $color-background;
          width: 3.6rem;
          height: 3.6rem;
        }
      }

      .menu-icon {
        display: block;
        float: right;
        height: 26px;
        line-height: 0;
        text-align: center;
      }

      input ~ .trigger {
        clear: both;
        display: none;
      }

      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
        background: $color-text;
        position: absolute;
        margin-right: -($spacing-unit * 3);
        top: 5rem;
        width: 100vw;
      }

      .page-link {
        display: block;
        text-align: right;
        padding-right: $spacing-unit / 2;

        &:not(:last-child) {
          margin-right: 0;
        }
      }
    }
  }
}

/*
    Site Content
*/

.page-block {
  padding-top: 5rem + ($spacing-unit * 4);
  margin-bottom: $spacing-unit * 2;

  @media screen and (min-width: $on-palm) {
    min-height: calc(100vh - (#{$spacing-unit} * 4));
  }

  .page-block-main-content {
    column-count: 2;
    column-fill: balance;
    margin-bottom: $spacing-unit;

    p {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;

      &:nth-child(3) {
        margin-bottom: 0;
      }
    }

    @include media-query($on-palm) {
      column-count: 1;
    }
  }
}

// Cover video
.jumbo-video {
  max-height: calc(#{100vh} - (3.6rem + #{$spacing-unit} / 2));
  padding-top: 0;
}

// “WS Group” block
h4 {
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-weight: 500;
  margin: 0 0 $spacing-unit;
  text-align: center;
}

.tabs {
  height: 46rem;
  margin-left: 0;
  position: relative;
  @extend %clearfix;

  @include media-query($on-palm) {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-left: -($spacing-unit);
    margin-right: -($spacing-unit);

    .tab-link {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $color-background;
      flex: 0 0 auto;
      padding: 0 2rem;
    }
  }

  .logo-ws {
    top: 10rem;
    left: calc(50% - 10rem);

    @include media-query($on-palm) {
      display: none;
    }

    svg {
      height: 25rem;
      width: 20rem;

      @include media-query($on-palm) {
        height: 15rem;
        width: 10rem;
      }
    }
  }

  li {
    list-style: none;
    padding-left: 0;
    position: absolute;

    img {
      width: auto;
      height: 7rem;
    }

    @include media-query($on-palm) {
      position: static;

      &.tab-link {
        img {
          width: auto;
          height: 4.5rem;
        }
      }
    }

    &.mwa {
      top: 0;
      left: calc(50% - (8.5rem / 2));

      img {
        height: 8rem;

        @include media-query($on-palm) {
          height: 6rem;
        }
      }
    }

    &.design {
      top: 17rem;
      right: 7rem;
    }

    &.ilumion {
      top: 37rem;
      right: 14rem;
    }

    &.berlim {
      top: 37rem;
      left: 12rem;
    }

    &.invest {
      top: 17rem;
      left: 7rem;
    }
  }
}

.tab-container {
  .tab-content {
    background-color: $color-text;
    color: $color-background;
    position: relative;
    padding: $spacing-unit * 2;
    margin-left: -($spacing-unit / 2);
    margin-right: -($spacing-unit / 2);
    display: none;

    @include media-query($on-palm) {
      padding: $spacing-unit $spacing-unit / 2;
      margin-left: -($spacing-unit);
      margin-right: -($spacing-unit);

      figcaption {
        margin-left: -($spacing-unit);
        margin-right: -($spacing-unit);
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }

    figcaption {
      position: relative;
      background: rgba($color-text, .25);
      padding: $spacing-unit * 2 $spacing-unit;
      text-shadow: 0 0 .2rem $color-text;

      p {
        max-width: $on-palm;
        margin: 0 auto $spacing-unit / 2;
        text-align: center;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .close-tab {
      background: none;
      border: none;
      padding: 0;
      color: $color-accent;
      position: absolute;
      top: $spacing-unit / 2;
      right: $spacing-unit / 2;
      width: 1.2rem;
      height: 1.6rem;
      cursor: pointer;

      svg {
        width: 1.2rem;
        height: 1.6rem;
        fill: $color-accent;

        polygon {
          fill: $color-accent;
        }
      }
    }
  }
}

/*
  “Team” block
*/
.caption {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.team-members {
  @include row;

  &.col-3 {
    .member {
      @include col(1,3);

      &:nth-child(3n+1) {
        clear: both;
      }
    }
  }

  .member {
    padding: 0 $spacing-unit;
    text-align: center;
    margin-bottom: $spacing-unit;

    img {
      border-radius: 50%;
    }
  }

  @include media-query($on-palm) {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-left: -($spacing-unit);
    margin-right: -($spacing-unit);

    .member {
      flex: 0 0 auto;
      padding: 0 .5rem;
    }
  }
}

// “Portfolio” block
.regions {
  margin-bottom: $spacing-unit * 2;

  .region {
    text-align: center;
    margin-bottom: $spacing-unit;

    h2 {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin-left: 0;
      @include row;

      li {
        @include col(1,5);
        line-height: 2.5;

        @include media-query($on-palm) {
          max-width: 50%;
          float: left;
        }

        a {
          cursor: pointer;
        }
      }
    }

    &:first-child {
      ul li {
        @include col(1,1);

        @include media-query($on-palm) {
          float: none;
          max-width: 100%;
        }
      }
    }
  }
}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  background: $color-text;
  color: $color-background;

  .slideshow {
    margin-bottom: 0;
    height: 100%;
  }

  .slideshow-navigation {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -2.2rem;
    padding: 1.6rem;

    svg {
      fill: $color-background;
      transition: fill .36s ease;
      width: 1.6rem;
      height: 3.2rem;
    }

    &:hover,
    &:active {
      svg {
        fill: $color-accent;
      }
    }

    &.previous-slide {
      left: 0;
    }

    &.next-slide {
      right: 0;
    }
  }
}

// “Contact” page block
.inverted {
  color: $color-background;
  background-color: $color-text;
  padding-bottom: $spacing-unit;
  margin: 0;
}

#contato {
  min-height: auto;
  padding-top: $spacing-unit * 2;

  address {
    @include row;

    .address,
    .links {
      @include col(1,2);
    }

    .address {
      text-align: right;
      padding-right: $spacing-unit / 2;

      @include media-query($on-palm) {
        padding-right: 0;
        text-align: center;
      }
    }

    .links {
      margin-left: 0;
      padding-left: $spacing-unit / 2;
      list-style: none;

      @include media-query($on-palm) {
        padding-left: 0;
        text-align: center;
      }
    }
  }

  .social-links {
    list-style: none;
    margin-left: 0;
    text-align: center;

    li {
      display: inline-block;

      &:not(:first-child) {
        margin-left: $spacing-unit / 2;
      }

      svg {
        width: 3.2rem;
        height: 3.2rem;
        fill: $color-background;
        transition: fill .36s ease;

        &:hover {
          fill: $color-accent;
        }
      }
    }
  }
}

/*
    Site Footer
*/
.site-footer {
  text-align: center;
  font-size: $base-font-size * .75;
  border-top: .02rem solid darken($color-text, 20%);
  padding: $spacing-unit 0;

  .credits {
    a {
      &:hover {
        text-decoration: none;
      }

      svg {
        height: $base-font-size;
        vertical-align: -.2rem;
        fill: $color-accent;
        width: 3rem;
      }

      span {
        clip: rect(0, 0, 0, 0);
        font-size: 0;
        color: transparent;
        width: 0;
        height: 0;
      }
    }
  }
}
