html {
  font-size: 62.5%; // Makes 1rem = 10px.
}

body {
  background: $color-background;
  border-left: $spacing-unit / 4 solid $color-text;
  border-right: $spacing-unit / 4 solid $color-text;
  position: relative;

  &:before,
  &:after {
    display: block;
    position: fixed;
    content: ' ';
    width: 100%;
    height: $spacing-unit / 4;
    background-color: $color-text;
    z-index: 9999;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.site-container {
  width: 100%;
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-left: auto;
  margin-right: auto;

  @include media-query($on-laptop) {
    max-width: calc(100% - (#{$spacing-unit}));
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

/*
    Site Header
*/
.site-header {
  @extend %clearfix;
  margin-top: $spacing-unit / 4;
  padding-top: $spacing-unit / 2;
  position: fixed;
  top: -.1rem;
  z-index: 99;
  width: 100%;
  padding: 0 $spacing-unit;
  background-color: $color-text;

  a {
    text-decoration: none;
  }

  // Branding
  .site-title {
    font-size: $base-font-size * 1.5;
    font-weight: 700;
    display: inline-block;

    span {
      display: none;
    }

    svg {
      height: 4rem;
      padding-top: .5rem;

      path {
        fill: $color-background;
        transition: fill .5s ease;
      }
    }

    &:hover {
      svg {
        path {
          fill: $color-accent;
        }
      }
    }
  }

  // Main navigation
  .site-navigation {
    float: right;

    #nav-trigger {
      display: none;
    }

    .menu-trigger {
      display: none;
    }

    .site-menu {
      display: block;
      margin-bottom: 0;

      li {
        display: inline-block;
        line-height: 5rem;
        margin-left: $spacing-unit / 2;

        a {
          color: $color-background;

          &:hover {
            color: $color-accent;
          }
        }
      }
    }

    @include media-query($on-palm) {
      text-align: right;
      overflow: hidden;
      position: relative;

      .menu-trigger {
        box-sizing: border-box;
        display: inline-block;
        height: 5.6rem;
        margin-left: 0;
        text-align: right;
        line-height: 5.6rem;

        svg {
          height: 2.8rem;
          vertical-align: middle;

          path {
            fill: $color-background;
            transition: fill .2s;
          }
        }
      }

      .site-menu {
        position: absolute;
        right: -999rem;
      }

      &:hover,
      &:focus,
      &:active {
        overflow: visible;

        #nav-trigger:checked ~ .menu-trigger {
          svg {
            path {
              fill: $color-accent;
            }
          }
        }

        #nav-trigger:checked ~ .site-menu {
          position: absolute;
          right: -$spacing-unit / 2;
          top: 5rem;
          background-color: $color-text;
          padding: $spacing-unit / 4 $spacing-unit / 2;
          width: 100vw;

          li {
            display: block;
            line-height: $base-line-height * 1.5;
            font-size: $base-font-size * 1.1;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

/*
  Site Content
*/
.site-content {
  background-color: $color-background;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
  border-top: .1rem solid darken($color-background, 15%);
  border-bottom: .1rem solid darken($color-background, 15%);
}

// Post Listing
dl.post {
  margin-left: 0;
  margin-bottom: $spacing-unit / 2;

  dt {
    font-weight: 700;
    font-size: $base-font-size * 1.2;
  }

  dd {
    color: lighten($color-text, 25%);
    font-size: $base-font-size * .75;

    svg {
      height: $base-font-size;
      vertical-align: middle;
    }

    .post-tags {
      margin-left: $spacing-unit / 4;
    }
  }
}

// Page Header
.page {
  .page-header {
    margin-bottom: $spacing-unit;

    .page-title {
      margin-bottom: 0;
    }
  }
}

// Post Meta
.page {
  .page-header .page-meta,
  .page-footer {
    font-size: $base-font-size * .75;
    font-weight: 500;

    & > span {
      &:not(:first-child) {
        margin-left: $spacing-unit / 2;
      }
    }

    svg {
      height: $base-font-size * .75;
    }

    a {
      text-decoration: none;
    }
  }

  .page-footer {
    margin-top: $spacing-unit;
    padding-top: $spacing-unit;
    border-top: .1rem solid darken($color-background, 15%);
  }
}

/*
    Site Footer
*/
.site-footer {
  margin-top: $spacing-unit;

  .site-container {
    @include row;

    .footer-heading {
      @include col(1,1);
      @extend %clearfix;

      .site-title {
        font-weight: 700;
        text-decoration: none;
        font-size: $base-font-size * 1.2;
      }
    }

    .site-links {
      @include col(2, 5, $gap: $spacing-unit, $first: true);

      .site-contacts {
        margin-left: 0;

        li {
          display: inline-block;

          &:not(:first-child) {
            display: block;
          }

          svg {
            height: $base-font-size;
            vertical-align: middle;
          }
        }
      }
    }

    .site-description {
      @include col(3, 5,  $last: true);
    }
  }
}

/*
    Home page
*/
.home-page {
  .site-content {
    padding-top: 0;
    border: none;

    section {
      height: 100vh;
    }
  }
}

.cover {
  position: relative;
  z-index: 999;
  height: 100vh;
  overflow: hidden;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-position: center center;

  .site-logo {
    display: block;
    width: 15rem;
    height: 25rem;
    margin: 30vh auto 0;

    svg {
      transform: scale(1);
      transition: transform .5s ease;

      path {
        fill: $color-text;
        transition: fill .5s ease;
      }
    }

    &:hover {
      svg {
        transform: scale(1.1);

        path {
          fill: $color-accent;
        }
      }
    }
  }


  .skip-chevron {
    display: block;
    height: 1.5rem;
    width: 2rem;
    opacity: 0;
    margin: 6vh auto 0;
    transition: margin-top .5s ease, opacity .5s ease;

    @include media-query($on-palm) {
      opacity: 1;
      margin-top: 3vh;
    }

    svg {
      polygon {
        fill: $color-text;
        transition: fill .5s ease;
      }
    }

    @include media-query($on-palm) {
      &:hover {
        svg {
          polygon {
            fill: $color-accent;
          }
        }
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    .skip-chevron {
      opacity: 1;
      margin-top: 7vh;

      @include media-query($on-palm) {
        margin-top: 3vh;
      }
    }
  }
}
