/*
    Basic Structure
*/
body {
  border-left: $spacing-unit / 4 solid $color-text;
  border-right: $spacing-unit / 4 solid $color-text;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;
  background-image: url("images/bg.png");
  background-size: 595px;
  background-position: center;
  background-repeat: repeat;

  &:before,
  &:after {
    position: fixed;
    display: block;
    content: '   ';
    width: 100%;
    left: 0;
    right: 0;
    height: $spacing-unit / 4;
    background-color: $color-text;
    z-index: 2;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.wrapper {
  @extend %container;
}

/*
    Site Header
*/
.masthead {
  background: $color-text;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: $spacing-unit $spacing-unit / 2;
  z-index: 2;

  .social-links {
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit / 2;
    line-height: 5.6rem;

    a {
      &:not(:last-child) {
        margin-right: $spacing-unit / 2;
      }

      svg {
        height: calc(#{$font-size-base} * #{$font-line-height});
        max-width: calc(#{$font-size-base} * #{$font-line-height});
        vertical-align: middle;
      }

      &:hover,
      &:focus {
        svg {
          fill: $color-accent;
        }
      }
    }
  }

  .site-title {
    svg {
      height: 5.6rem;
      width: 5.3rem;
    }
  }

  .main-menu {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit / 2;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a {
      color: $color-background;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    @include on-laptop {
      line-height: 5.6rem;

      #nav-trigger,
      label[for="nav-trigger"] {
        display: none;
      }

      a {
        &:not(:last-child) {
          margin-right: $spacing-unit / 2;
        }
      }
    }

    @include on-palm {
      line-height: 5.6rem;

      #nav-trigger {
        display: none;
      }

      label[for="nav-trigger"] {
        max-height: 2.5rem;

        svg {
          max-height: 2.5rem;
          max-width: calc(#{$font-size-base} * #{$font-line-height});
          vertical-align: middle;
          fill: $color-background;
        }

        &:hover,
        &:focus {
          cursor: pointer;

          svg {
            fill: $color-accent;
          }
        }
      }

      #nav-trigger:checked ~ .trigger {
        display: block;
      }

      .trigger {
        display: none;
        position: absolute;
        background-color: $color-text;
        right: -$spacing-unit / 2;
        width: 100vw;
        padding-top: $spacing-unit;

        a {
          display: block;
          line-height: 4;
        }
      }
    }
  }
}

/*
    Site Content
*/
.site-content {
  //margin-top: 10.5rem;
  display: flex;
  flex-flow: column wrap;

  .page-section {
    padding-top: 10.5rem + $spacing-unit;
    padding-bottom: $spacing-unit * 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70vh;

    @include on-palm {
      &:first-child {
        padding-top: 10.5rem;
      }

      padding-top: $spacing-unit * 2;
    }

    &.inverted {
      background: $color-text;
      color: $color-background;
    }
  }
}

// About Block
#grupo {
  .section-content {
    font-size: 115%;
    line-height: 1.6;
    max-width: 65rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .learn-more-label {
    font-size: $font-size-small;
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .company-links {
    list-style: none;
    margin-bottom: $spacing-unit;
    text-align: center;

    li {
      display: inline-block;

      img {
        width: 12rem;
      }
    }
  }
}

// Portfolio Block
.project {
  text-align: center;
}

.project-tour {
  margin-bottom: $spacing-unit;
}

.project-gallery {
  margin-bottom: $spacing-unit;
  position: relative;
  z-index: 0;

  .slider-nav {
    position: absolute;
    z-index: 2;
    -webkit-appearance: none;
    padding: 0;
    line-height: 0;
    background: rgba($color-background, .5);
    transition: background .25s ease;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    top: calc(#{50%} - #{1.6rem});

    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: $color-text;
      transition: fill 0.25s ease;
    }

    &:hover,
    &:focus {
      background: $color-background;

      svg {
        fill: $color-accent;
      }
    }

    &.slider-prev {
      left: 0;
    }

    &.slider-next {
      right: 0;
    }
  }
}

// Team Block
.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include on-palm {
    flex-flow: row nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-left: -($spacing-unit / 2);
    margin-right: -($spacing-unit / 2);
    justify-content: flex-start;
  }

  .member {
    flex: 0 0 calc(#{33%} - #{$spacing-unit});
    text-align: center;
    margin: 0 $spacing-unit / 2 $spacing-unit * 2;

    @include on-palm {
      flex: 0 0 auto;
      margin: 0 $spacing-unit $spacing-unit;
    }
  }
}

// Contact Block
.address-block {
  @extend %clearfix;
  display: table;

  address {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: right;
    padding-right: $spacing-unit;
    margin-bottom: 0;

    @include on-palm {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: $spacing-unit;
      padding-right: 0;
    }
  }

  iframe {

    display: table-cell;
    height: 20rem;
    width: 40rem;
    border: 0;

    @include on-palm {
      width: 100%;
      float: none;
    }
  }
}

.contact-links {
  text-align: center;
}

/*
    Site Footer
*/
.colophon {
  background: $color-text;
  color: $color-background;
  text-align: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  svg {
    height: calc(#{$font-line-height} * #{$font-size-base});
    width: 5.2rem;
  }
}
