body {
  font: #{$font-weight-base} #{$font-size-base}/#{$font-line-height} $font-family-main;
  color: $color-text;
  background: $color-background;
}

// Links
a {
  color: $color-accent;
  transition: color .25s ease;
  text-decoration: none;

  svg {
    fill: $color-background;
    transition: fill .25s ease;
  }

  &:hover,
  &:focus {
    svg {
      fill: $color-accent;
    }
  }
}
