body {
  font: #{$font-weight-base} #{$font-size-base}/#{$font-line-height} $font-family-main;
  color: $color-text;
  background: $color-background;
}

.mobile-only {
  text-align: center;

  @include on-laptop {
    @include hide;
  }
}

// Text elements
p, ul, ol, dl {
  margin: $spacing-unit / 2 0 $spacing-unit;
}

// Links
a {
  color: $color-accent;
  transition: color .25s ease;
  text-decoration: none;

  svg {
    fill: $color-background;
    transition: fill .25s ease;
  }

  &:hover,
  &:focus {
    svg {
      fill: $color-accent;
    }
  }
}

// Media
img {
  max-width: 100%;
  height: auto;
}
