body {
  font: #{$font-weight-base} #{$font-size-base}/#{$font-line-height} $font-family-main;
  color: $color-text;
  background: $color-background;
}

.mobile-only {
  text-align: center;

  @include on-laptop {
    @include hide;
  }
}

// Text elements
p, ul, ol, dl {
  margin: $spacing-unit / 2 0 $spacing-unit;
}

// Links
a,
a:visited {
  color: $color-accent;
  transition: color .25s ease;
  text-decoration: none;
  cursor: pointer;

  svg {
    fill: $color-background;
    transition: fill .25s ease;
  }

  &:hover,
  &:focus {
    svg {
      fill: $color-accent;
    }
  }
}

// Headings
h2 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: $spacing-unit;
  font-size: calc(#{$font-size-base} * 1.5);
  text-align: center;
}

// Lists
dl {
  dt {
    font-weight: 800;
  }
}

// Media
img {
  max-width: 100%;
  height: auto;
}
