@font-face {
  font-family: muli;
  src: url("fonts/muli-400.woff2") format("woff2"),
       url("fonts/muli-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: muli;
  src: url("fonts/muli-400i.woff2") format("woff2"),
       url("fonts/muli-400i.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: muli;
  src: url("fonts/muli-500.woff2") format("woff2"),
       url("fonts/muli-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: muli;
  src: url("fonts/muli-500i.woff2") format("woff2"),
       url("fonts/muli-500i.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: muli;
  src: url("fonts/muli-800.woff2") format("woff2"),
       url("fonts/muli-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: muli;
  src: url("fonts/muli-800i.woff2") format("woff2"),
       url("fonts/muli-800i.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
