/*
    Basic Structure
*/
body {
  border-left: $spacing-unit / 4 solid $color-text;
  border-right: $spacing-unit / 4 solid $color-text;
  padding-top: $spacing-unit / 4;
  padding-bottom: $spacing-unit / 4;

  &:before,
  &:after {
    position: fixed;
    display: block;
    content: '   ';
    width: 100%;
    left: 0;
    right: 0;
    height: $spacing-unit / 4;
    background-color: $color-text;
    z-index: 2;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

.wrapper {
  @extend %container;
}

/*
    Site Header
*/
.masthead {
  background: $color-text;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: $spacing-unit $spacing-unit / 2;
  z-index: 2;

  .social-links {
    position: absolute;
    top: $spacing-unit;
    left: $spacing-unit / 2;
    line-height: 5.6rem;

    a {
      &:not(:last-child) {
        margin-right: $spacing-unit / 2;
      }

      svg {
        height: calc(#{$font-size-base} * #{$font-line-height});
        max-width: calc(#{$font-size-base} * #{$font-line-height});
        vertical-align: middle;
      }

      &:hover,
      &:focus {
        svg {
          fill: $color-accent;
        }
      }
    }
  }

  .site-title {
    svg {
      height: 5.6rem;
      width: 5.3rem;
    }
  }

  .main-menu {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit / 2;
    font-size: $font-size-small;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    a {
      color: $color-background;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    @include on-laptop {
      line-height: 5.6rem;

      #nav-trigger,
      label[for="nav-trigger"] {
        display: none;
      }

      a {
        &:not(:last-child) {
          margin-right: $spacing-unit / 2;
        }
      }
    }

    @include on-palm {
      line-height: 5.6rem;

      #nav-trigger {
        display: none;
      }

      label[for="nav-trigger"] {
        max-height: 2.5rem;

        svg {
          max-height: 2.5rem;
          max-width: calc(#{$font-size-base} * #{$font-line-height});
          vertical-align: middle;
          fill: $color-background;
        }

        &:hover,
        &:focus {
          cursor: pointer;

          svg {
            fill: $color-accent;
          }
        }
      }

      #nav-trigger:checked ~ .trigger {
        display: block;
      }

      .trigger {
        display: none;
        position: absolute;
        background-color: $color-text;
        right: -$spacing-unit / 2;
        width: 100vw;
        padding-top: $spacing-unit;

        a {
          display: block;
          line-height: 4;
        }
      }
    }
  }
}

/*
    Site Content
*/
.site-content {
  //margin-top: 10.5rem;
  display: flex;
  flex-flow: column wrap;

  .page-section {
    padding-top: 10.5rem + $spacing-unit;
    padding-bottom: $spacing-unit * 2;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include on-palm {
      &:first-child {
        padding-top: 10.5rem;
      }

      padding-top: $spacing-unit * 2;
    }

    &.inverted {
      background: $color-text;
      color: $color-background;
    }
  }
}

// About Block
.group-logos {
  position: relative;

  #ws-group {
    svg {
      fill: $color-text;
    }
  }

  @include on-laptop {
    height: 46rem;
    margin-left: 0;

    .company-logo {
      position: absolute;
      z-index: 1;

      img {
        width: auto;
        height: 7rem;
      }

      &#ws-group {
        top: 10rem;
        left: calc(#{50%} - #{10rem});

        svg {
          height: 25rem;
          width: 20rem;
        }
      }

      &#mwa {
        top: 0;
        left: calc(#{50%} - (#{8.5rem} / #{2}));

        img {
          height: 8rem;
        }
      }

      &#invest {
        top: 17rem;
        left: 7rem;
      }

      &#design {
        top: 17rem;
        right: 7rem;
      }

      &#berlim {
        top: 37rem;
        left: 12rem;
      }

      &#ilumion {
        top: 37rem;
        right: 14rem;
      }
    }
  }

  @include on-palm {
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-left: -($spacing-unit / 2);
    margin-right: -($spacing-unit / 2);

    .company-logo {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: $color-background;
      flex: 0 0 auto;
      padding: 0 $spacing-unit;

      img {
        height: 7rem;
        width: auto;
      }

      &#ws-group {
        display: none;
      }
    }
  }
}

.company-info {
  display: none;
  position: relative;
  background-size: cover;
  background-position: center center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  .company-inner {
    width: 100%;
    max-width: $palm-width;
    margin: $spacing-unit * 2 auto;
    text-align: center;
    padding: $spacing-unit * 2;
    background: rgba($color-text, .4);
    box-shadow: 0 0 1.6rem rgba($color-text, .7);
    color: $color-background;
  }

  .close-box {
    position: absolute;
    top: $spacing-unit / 2;
    right: $spacing-unit / 2;
    background: rgba($color-background, .5);
    transition: background .25s ease;
    border: none;
    border-radius: 50%;
    line-height: 0;
    padding: 0;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;

    svg {
      width: 1.6rem;
      max-height: 1.6rem;
      fill: $color-text;
      transition: fill .25s ease;
    }

    &:hover,
    &:focus {
      background: $color-background;

      svg {
        fill: $color-accent;
      }
    }
  }
}

// Portfolio Block
.project {
  text-align: center;
}

.project-tour {
  margin-bottom: $spacing-unit;
}

.project-gallery {
  margin-bottom: $spacing-unit;
  position: relative;
  z-index: 0;

  .slider-nav {
    position: absolute;
    z-index: 2;
    -webkit-appearance: none;
    padding: 0;
    line-height: 0;
    background: rgba($color-background, .5);
    transition: background .25s ease;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    top: calc(#{50%} - #{1.6rem});

    svg {
      width: 3.2rem;
      height: 3.2rem;
      fill: $color-text;
      transition: fill 0.25s ease;
    }

    &:hover,
    &:focus {
      background: $color-background;

      svg {
        fill: $color-accent;
      }
    }

    &.slider-prev {
      left: 0;
    }

    &.slider-next {
      right: 0;
    }
  }
}

// Team Block
.team {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  @include on-palm {
    flex-flow: row nowrap;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-left: -($spacing-unit / 2);
    margin-right: -($spacing-unit / 2);
    justify-content: flex-start;
  }

  .member {
    flex: 0 0 calc(#{33%} - #{$spacing-unit});
    text-align: center;
    margin: 0 $spacing-unit / 2 $spacing-unit * 2;

    @include on-palm {
      flex: 0 0 auto;
      margin: 0 $spacing-unit $spacing-unit;
    }
  }
}

// Contact Block
.address-block {
  @extend %clearfix;

  address {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: $spacing-unit;

    @include on-palm {
      float: none;
      width: 100%;
    }
  }
}

.contact-links {
  text-align: center;
}

/*
    Site Footer
*/
.colophon {
  background: $color-text;
  color: $color-background;
  text-align: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  svg {
    height: calc(#{$font-line-height} * #{$font-size-base});
    width: 5.2rem;
  }
}
