/*
    Media queries
*/
@mixin on-palm {
  @media screen and (max-width: $palm-width) {
    @content;
  }
}

@mixin on-laptop {
  @media screen and (min-width: $palm-width) {
    @content;
  }
}

/*
    Site Container
*/
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

%container {
  width: 100%;
  max-width: $content-width;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  margin-left: auto;
  margin-right: auto;

  @include on-palm {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }

  @extend %clearfix;
}

@mixin hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
