<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
  {% include head.html %}

  <body itemscope itemtype="http://schema.org/WebPage">
    {% include header.html %}

    <main class="site-content">
      {{ content }}
    </main>

    {% include footer.html %}
    <script type="text/javascript" src="{{ '/assets/js/responsive-embeds.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/scroll.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/tabs.js' | relative_url }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ '/assets/js/slick.js' | relative_url }}"></script>
    <script type="text/javascript">
      $('.gallery').slick({
        adaptiveHeight: true,
        nextArrow: $('.next'),
        prevArrow: $('.prev'),
        infinite: false,
        initialSlide: 1
      });
    </script>
  </body>
</html>
