<!DOCTYPE html>
<html lang="{{ site.lang }}" prefix="og: http://ogp.me/ns#">
  {% include head.html %}

  <body class="home-page" itemscope itemtype="http://schema.org/Blog">
    {% include header.html %}

    <main class="site-content">
        {{ content }}
    </main>

    <script type="text/javascript" src="{{ '/assets/js/responsive-embeds.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/slider.js' | relative_url }}"></script>
    <script type="text/javascript">
      smoothScroll.init();
      
      document.addEventListener('DOMContentLoaded', function () {
        var rewind = document.querySelector('.js_slider');

        lory(rewind, {
          rewind: true
        });
      });
    </script>
  </body>
</html>
