---
layout: default
---

<article class="page blogposting" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="page-header">
    <h1 class="page-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="page-meta">
      {% assign author = site.data.authors[page.author] %}
      <span class="page-author">
        {% include svg/person.svg %}
        <a class="author" href="{{ author.web }}" itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author.name }}</span></a>
      </span>
      <span class="page-date">
        {% include svg/calendar.svg %}
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%-d/%m/%Y" }}</time>
      </span>
    </p>
  </header>

  {% if page.cover %}
  <figure class="page-cover" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
    <img src="{{ page.cover.url | prepend: '/assets/images/' | relative_url }}" alt="{% if page.cover.alt %}{{ page.cover.alt }}{% endif %}" itemprop="contentUrl url" />
    {% if page.cover.caption %}
    <figcaption itemprop="caption">
      <p>{{ page.cover.caption }}</p>
    </figcaption>
    {% endif %}
  </figure>
  {% endif %}

  <div class="page-content" itemprop="articleBody mainEntityOfPage">
    {{ content }}
  </div>

  <footer class="page-footer">
    <span class="page-tags">
      {% include svg/tags.svg %}
      <span itemprop="keywords">{{ page.tags | join: ", " }}</span>
    </span>
    <span class="page-permalink">
      {% include svg/link.svg %}
      <a href="{{ page.url | absolute_url }}" itemprop="url">Permalink</a>
    </span>
  </footer>
</article>
